//whatever we want to change
body{
    background: url('../myimages/workbg.jpg');
}
#toptext{
    font-weight: 100;
}
#otherwork{
    li::marker{
        color: #f05454;
    }
}

@media(min-width: 768px){
    #intern{
        .work-title{border: none!important;}
    }
}

@media(min-width: 992px){
    #intern{
        .company{
            border: 0px solid #ffffff!important;
        }

    }
}