//whatever we want to change
body{
    background: url('../myimages/projects/projectsbg.jpg');
}

#toptext{
    font-weight: 100;
}

#educationquote{
    .container{
        max-width: 1440px!important;
    }
    blockquote img{width: 100%;}
    blockquote footer{
        color: #000000;
        font-weight: 400;
        font-family: "Noto Sans JP", sans-serif;
        font-size: 90%;
    }
}

#overview{
    a{
        color: #000000;
    }
    a:hover{
        color: #ffffff!important;
    }
    .card-img-overlay{
        position: absolute;
        top: 40%;
    }
}
#coursework{
    .container{
        max-width: 1440px!important;
    }
    .tab-pane{
        line-height: 2;
    }
}
#leadership{
    #xlarge{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .container{
        max-width: 1440px!important;
    }
}

@media(max-width: 768px){
    #educationquote{
        .lead{
            font-size: 12px;
        }
    }
    .list-group-item{
        font-size:12px;
        padding: 7px 10px;
    }
    .tab-pane{
        font-size: 10px;
    }
}