//whatever we want to change
body{
    background: url('../myimages/projects/projectsbg.jpg');
}

#projectsquote{
    .container{
        max-width: 1440px!important;
    }
    blockquote img{width: 100%;}
    blockquote footer{
        color: #000000;
        font-weight: 400;
        font-family: "Noto Sans JP", sans-serif;
        font-size: 90%;
    }
}

.card-img-top{
    margin: 1rem auto;
    border-radius: 50%;
    width: 35%;
    box-shadow: 0px 10px 20px #888888;
}
.navbar{
    background: black;
}
.projects{
    a {text-decoration: none;}
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }  
    .container{
        max-width: 1440px!important;
    }
    .text-muted:hover{
        text-decoration: underline;
    }
    .card-text{
        width: 305px;
        margin: 0 auto 1rem;
    }
}

@media(min-width: 992px){
    .card-img-top{width:50%;}
    .projects{
        .card-text{
            width: 250px;
        }
    }
}
