//whatever we want to change
body{
    background: url('../myimages/projects/projectsbg.jpg');
}

.card-img-top{
    margin: 1rem auto;
    border-radius: 50%;
    width: 35%;
    box-shadow: 0px 10px 20px #888888;
}
.navbar{
    background: black;
}
.projects{
    a {text-decoration: none;}
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }  
    .container{
        max-width: 1440px!important;
    }
    .text-muted:hover{
        text-decoration: underline;
    }
    .odd{
        background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(240,84,84,0.2) 100%);
    }
    .even{
        background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(48,71,94,0.2) 100%);
    }
    .card-text{
        width: 305px;
        margin: 0 auto 1rem;
    }
}

@media(min-width: 992px){
    .card-img-top{width:50%;}
    .projects{
        .card-text{
            width: 250px;
        }
    }
}
