//whatever we want to change
body{
}

#internships{
    .container{
        max-width: 1440px!important;
    }
}
#otherwork{
    li::marker{
        color: #f05454;
    }
}

@media(min-width: 768px){
    #intern{
        .work-title{border: none!important;}
    }
}

@media(min-width: 992px){
    #internships{
        .company{
            border: 0px solid #ffffff!important;
        }
    }
    .card-img-top{
        width:100%!important;
    }
}